<section id="header">
  <a href="#" class="logo">
    <img src="assets/unfold-high-resolution-logo-black-transparent.png" alt="Unfold Logo">
  </a>
  <div>
    <ul id="navbar" [class.open]="isMenuOpen">
      <li>
        <a [routerLink]="['/home']" [class.active]="isActive('/home')" (click)="toggleMenu()">Home</a>
      </li>
      <li>
        <a [routerLink]="['/shop']" [class.active]="isActive('/shop')" (click)="toggleMenu()">Shop</a>
      </li>
      <li>
        <a [routerLink]="['/about']" [class.active]="isActive('/about')" (click)="toggleMenu()">About Us</a>
      </li>
      <li>
        <a [routerLink]="['/contact']" [class.active]="isActive('/contact')" (click)="toggleMenu()">Contact</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a [routerLink]="['/cart']" [class.active]="isActive('/cart')" (click)="toggleMenu()">Cart</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a [routerLink]="['/wishlist']" [class.active]="isActive('/wishlist')" (click)="toggleMenu()">WishList</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a [routerLink]="['/profile']" [class.active]="isActive('/profile')" (click)="toggleMenu()">MyAccount</a>
      </li>
      <li *ngIf="userRole()">
        <a [routerLink]="['/admin']" [class.active]="isActive('/admin')" (click)="toggleMenu()">Admin Dashboard</a>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a type="button"  (click)="toggleMenu()" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a type="button"  (click)="toggleMenu()" (click)="logout()">Logout</a>
      </li>
    </ul>

  </div>
  <div id="mobile">
    <a href="/cart"><i class="pi pi-shopping-bag" style="font-size: 2rem"></i></a>
    <i id="bar" class="pi pi-bars" *ngIf="!isMenuOpen" (click)="toggleMenu()"></i>
    <i class="pi pi-times" *ngIf="isMenuOpen" (click)="toggleMenu()"></i>
  </div>

</section>