<section id="header">
  <a href="#" class="logo">
    <img src="assets/unfold-high-resolution-logo-black-transparent.png" alt="Unfold Logo">
  </a>
  <div>
    <ul id="navbar" [class.open]="isMenuOpen">
      <li>
        <a class="active" [routerLink]="['/home']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/about']">About Us</a>
      </li>
      <li>
        <a [routerLink]="['/shop']">Shop</a>
      </li>
      <li>
        <a [routerLink]="['/contact']">Contact</a>
      </li>
      <li>
        <a [routerLink]="['/user']">Profile</a>
      </li>
      @if(!isLoggedIn()){
        <button  type="button" class="btn btn-success" [routerLink]="['/login']" >Login</button>
        }@else{
        <button type="button" class="btn btn-danger" (click)="logout()" >Logout</button>
        }
    </ul>
  </div>
  <div id="mobile">
    <a href="#"><i class="pi pi-shopping-bag" style="font-size: 2rem"></i></a>
    <i
      id="bar"
      class="pi pi-bars"
      *ngIf="!isMenuOpen"
      (click)="toggleMenu()"
    ></i>
    <i class="pi pi-times" *ngIf="isMenuOpen" (click)="toggleMenu()"></i>
  </div>
  
</section>
