<app-my-account-header></app-my-account-header>
<div class="container">
<p-table #dt [value]="order" [paginator]="true" [rows]="10" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="orderId">Order ID <p-sortIcon field="orderId"></p-sortIcon></th>
            <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
            <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order let-i="rowIndex">
        <tr>
            <td>{{ i+1 }}</td>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.status }}</td>
            <td>RS: {{ order.totalPrice}}</td>
        </tr>
    </ng-template>
</p-table>
</div>