<app-loader></app-loader>
<app-header></app-header>
<p-toast position="top-center" />
<p-confirmdialog />
<section id="cart" class="section-p1">
    <form *ngIf="cartForm" [formGroup]="cartForm">
        <table width="100%">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <!-- <td>Sub Total</td> -->
                    <td>Remove</td>
                    <td>Add to Cart</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of wishlist">
                    <td><img [src]="getProductImageUrl(item.productId)" alt=""></td>
                    <td>{{ getProductName(item.productId) }}</td>
                    <td>{{ getProductPrice(item.productId) }}</td>
                    <td (click)="removeItem($event,item)"><i class="pi pi-times"></i></td>
                    <td (click)="addToCart(item)"><i class="pi pi-cart-plus"></i></td>
                </tr>
            </tbody>
        </table>
    </form>
</section>
<app-footer></app-footer>