<app-header></app-header>
<section id="cart" class="section-p1">

    <table width="100%">
        <thead>
            <tr>

                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Sub Total</td>
                <td>Remove</td>
                <td></td>

            </tr>
        </thead>
        <tbody>
            <tr>

                <td><img src="assets/products/f1.jpg" alt=""></td>
                <td>Zenitsu T-Shirt | Demon Slayer</td>
                <td>Rs: 499</td>
                <td><input type="number" value="1" name="" id=""></td>
                <td>Rs: 499</td>
                <td><i class="pi pi-times"></i></td>
                <td><i class="pi pi-cart-plus cart" style="font-size: 1.4rem; color: #1c0258" (click)="addToCart()"></i></td>
            </tr>
            <tr>

                <td><img src="assets/products/f2.jpg" alt=""></td>
                <td>Zenitsu T-Shirt | Demon Slayer</td>
                <td>Rs: 499</td>
                <td><input type="number" value="1" id=""></td>
                <td>Rs: 499</td>
                <td><i class="pi pi-times"></i></td>
                <td><i class="pi pi-cart-plus cart" style="font-size: 1.4rem; color: #1c0258" (click)="addToCart()"></i></td>
            </tr>
            <tr>

                <td><img src="assets/products/f3.jpg" alt=""></td>
                <td>Zenitsu T-Shirt | Demon Slayer</td>
                <td>Rs: 499</td>
                <td><input type="number" value="1" name="" id=""></td>
                <td>Rs: 499</td>
                <td><i class="pi pi-times"></i></td>
                <td><i class="pi pi-cart-plus cart" style="font-size: 1.4rem; color: #1c0258" (click)="addToCart()"></i></td>
            </tr>
            <tr>

                <td><img src="assets/products/f4.jpg" alt=""></td>
                <td>Zenitsu T-Shirt | Demon Slayer</td>
                <td>Rs: 499</td>
                <td><input type="number" value="1" name="" id=""></td>
                <td>Rs: 499</td>
                <td><i class="pi pi-times"></i></td>
                <td><i class="pi pi-cart-plus cart" style="font-size: 1.4rem; color: #1c0258" (click)="addToCart()"></i></td>
            </tr>
        </tbody>
    </table>

</section>

<section id="cart-add" class="section-p1">

    <div id="sub-total">
        <h3>Cart Total</h3>
        <table>
            <tr>
                <td>Cart SubTotal</td>
                <td>Rs: 999</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>Rs: 999</strong></td>
            </tr>
        </table>
        <button class="normal">Proceed to checkout</button>
    </div>
</section>