<app-header></app-header>
   <div class="about-us-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 d-flex align-items-center">
                    <div class="overview-content-2">
                        <h4>Welcome To</h4>
                        <h2>Unfold fit!</h2>
                        <p class="peragraph-blog">Your ultimate destination for premium Anime-themed T-shirts! Founded in 2024, we are passionate about blending style, comfort, and the vibrant world of anime into every design. </p>
                        <p>Our mission is to bring anime enthusiasts high-quality, trendy apparel that lets them express their fandom with pride. At Unfold Fit, every T-shirt is crafted with attention to detail, ensuring durability and unmatched comfort. Whether you're a fan of classic anime or the latest series, we have something special for you. Join us on this journey to unfold your style with the perfect fit!</p>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="overview-img text-center">
                        <a href="#">
                            <img src="assets/unfold-high-resolution-logo-black.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-area gray-bg pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="testimonial-active owl-carousel">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-img">
                                <img alt="" src="assets/img/icon-img/testi.png">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut labore</p>
                            <h4>Gregory Perkins</h4>
                            <h5>Customer</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-area pt-95 pb-70">
        <div class="container">
            <div class="product-top-bar section-border mb-50">
                <div class="section-title-wrap style-two text-center">
                    <h3 class="section-title">Team Members</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-img">
                            <a href="#">
                                <img src="assets/img/team/team-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="team-content text-center">
                            <h4>Mr.Mike Banding</h4>
                            <span>Manager </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-wrapper mb-30">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img src="assets/img/team/team-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="team-content text-center">
                            <h4>Mr.Peter Pan</h4>
                            <span>Developer </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-wrapper mb-30">
                        <div class="team-img">
                            <a href="#">
                                <img src="assets/img/team/team-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="team-content text-center">
                            <h4>Ms.Sophia</h4>
                            <span>Designer </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team Area End -->
    <!-- Project Area Start -->
    <div class="project-count-area gray-bg pt-75 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-title">
                            <h2 class="count">360</h2>
                            <span>Tshirt delivered</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-title">
                            <h2 class="count">690</h2>
                            <span>Online Users</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30">
                        <div class="count-title">
                            <h2 class="count">420</h2>
                            <span>branding</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-count text-center mb-30 mrgn-none">
                        <div class="count-title">
                            <h2 class="count">100</h2>
                            <span>happy clients</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>