<app-admin-header></app-admin-header>
<div class="main">
    <div class="tab-content">
        <!-- ============================== Admin dashboard ============================== -->
        <div class="tab-pane fade show active px-4" id="admin-dashboard">
            <div class="container-fluid">
                <div class="row">
                    <div class="info-pages mb-3">
                        <h3 class="text-capitalize">admin dashboard</h3>
                        <p class="text-capitalize h6">home /<span> admin</span></p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="box d-flex align-items-center justify-content-between my-2 w-100">
                        <div class="cards">
                            <div class="icon stud">
                                <i class="pi pi-shopping-cart"></i>
                            </div>
                            <div class="desc">
                                <h6 class="text-muted text-capitalize">Orders</h6>
                                <h5 class="text-capitalize">150,000</h5>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="icon teach">
                                <i class="pi pi-trophy"></i>
                            </div>
                            <div class="desc">
                                <h6 class="text-muted text-capitalize">Completed</h6>
                                <h5 class="text-capitalize">2,200</h5>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="icon pare">
                                <i class="pi pi-shop"></i>
                            </div>
                            <div class="desc">
                                <h6 class="text-muted text-capitalize">Pending</h6>
                                <h5 class="text-capitalize">10,500</h5>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="icon earn">
                                <i class='pi pi-indian-rupee'></i>
                            </div>
                            <div class="desc">
                                <h6 class="text-muted text-capitalize">earnings</h6>
                                <h5 class="text-capitalize">$1,900,000</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="earnings shadow bg-white p-4 rounded">
                        <h4 class="text-capitalize mb-3">earnings</h4>
                        <div class="information d-flex justify-content-between">
                            <div class="inf">
                                <h6 class="text-muted text-capitalize">total collections</h6>
                                <h5 class="text-capitalize">$700,000</h5>
                            </div>
                            <div class="inf">
                                <h6 class="text-muted text-capitalize">fees collection</h6>
                                <h5 class="text-capitalize">$150,000</h5>
                            </div>
                            <div class="inf">
                                <select class="text-muted text-capitalize border-0 bg-transparent">
                                    <option selected>jan 03, 2023</option>
                                    <option>dec 24, 2022</option>
                                    <option>nov 12, 2022</option>
                                </select>
                            </div>
                        </div>
                        <img src="img/earnings.png" class="my-3 img-fluid" alt="">
                    </div>
                    <div class="expenses shadow bg-white p-4 rounded">
                        <h4 class="text-capitalize mb-3">expenses</h4>
                        <div class="information d-flex justify-content-between">
                            <div class="inf">
                                <small class="text-muted text-capitalize">jan 03, 2023</small>
                                <small class="text-capitalize h6">$300,000</small>
                            </div>
                            <div class="inf">
                                <small class="text-muted text-capitalize">sep 04, 2022</small>
                                <small class="text-capitalize h6">$50,000</small>
                            </div>
                            <div class="inf">
                                <small class="text-muted text-capitalize">mar 26, 2022</small>
                                <small class="text-capitalize h6">$8,000</small>
                            </div>
                        </div>
                        <img src="img/expenses.png" class="my-3 img-fluid" alt="">
                    </div>
                </div>
                <div class="row justify-content-between my-4">
                    <div class="studen shadow bg-white p-4 rounded">
                        <h4 class="text-capitalize mb-3">students</h4>
                        <img src="img/students.png" class="img-fluid" alt="">
                        <div class="button d-flex align-items-center justify-content-between my-3">
                            <div class="female">
                                <div class="line my-2"></div>
                                <h6 class="text-muted text-capitalize my-2">female students</h6>
                                <h5>420,000</h5>
                            </div>
                            <div class="male">
                                <div class="line my-2"></div>
                                <h6 class="text-muted text-capitalize my-2">male students</h6>
                                <h5>1,500,000</h5>
                            </div>
                        </div>
                    </div>
                    <div class="website-traf shadow bg-white p-4 rounded">
                        <h4 class="text-capitalize mb-3">website traffic</h4>
                        <div class="line my-2"></div>
                        <h6 class="text-muted text-capitalize my-2">unique visitors</h6>
                        <h5>25,000</h5>
                        <table class="table my-5 table-hover">
                            <tr>
                                <td class="text-capitalize">direct</td>
                                <td class="text-capitalize">12,000</td>
                                <td class="text-capitalize">50%</td>
                            </tr>
                            <tr>
                                <td class="text-capitalize">search</td>
                                <td class="text-capitalize">7,245</td>
                                <td class="text-capitalize">27%</td>
                            </tr>
                            <tr>
                                <td class="text-capitalize">referrals</td>
                                <td class="text-capitalize">4,256</td>
                                <td class="text-capitalize">8%</td>
                            </tr>
                            <tr>
                                <td class="text-capitalize">social</td>
                                <td class="text-capitalize">500</td>
                                <td class="text-capitalize">7%</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col text-center px-0">
                        <div class="icons d-flex jutify-content-between">
                            <div class="cards face">
                                <div class="icon">
                                    <i class='bx bxl-facebook'></i>
                                </div>
                                <div class="desc">
                                    <h6 class="text-capitalize">like us on facebook</h6>
                                    <h5 class="text-capitalize">300,000</h5>
                                </div>
                            </div>
                            <div class="cards twitt">
                                <div class="icon">
                                    <i class='bx bxl-twitter'></i>
                                </div>
                                <div class="desc">
                                    <h6 class="text-capitalize">flow us on twitter</h6>
                                    <h5 class="text-capitalize">5,000,000</h5>
                                </div>
                            </div>
                            <div class="cards instag">
                                <div class="icon">
                                    <i class='bx bxl-instagram'></i>
                                </div>
                                <div class="desc">
                                    <h6 class="text-capitalize">flow us on instagram</h6>
                                    <h5 class="text-capitalize">1,11,000</h5>
                                </div>
                            </div>
                            <div class="cards linked">
                                <div class="icon">
                                    <i class='bx bxl-linkedin'></i>
                                </div>
                                <div class="desc">
                                    <h6 class="text-capitalize">flow us on linkedin</h6>
                                    <h5 class="text-capitalize">500,000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>