
<app-admin-headers></app-admin-headers>
<div class="card m-5">
    <div class="container">
        <h3 >Add New Color</h3>
    </div>
    <form [formGroup]="colorForm">
    <div class="inputfield mt-3 p-3" >
        
        <p-floatlabel variant="on">
            <input pInputText id="on_label" formControlName="colorName" autocomplete="off" />
            <label for="on_label">Color Name</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
            <input pInputText id="on_label" formControlName="hexCode"  autocomplete="off" />
            <label for="on_label">Color code</label>
        </p-floatlabel>
        <p-button label="Save" (click)="saveColor()"  />
    
    </div>
</form>
</div>
<div class="card m-4">
    <div class="container">
        <h3 >Available Colors</h3>
    </div>
    <p-table [value]="color" [tableStyle]="{ 'min-width': '50rem', 'padding':'50px' }">
        <ng-template pTemplate="header">
            <tr>
                <th>S.No</th>
                <th>Color Name</th>
                <th>Code</th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-color>
            <tr>
                <td>{{ color.colorId }}</td>
                <td>{{ color.colorName }}</td>
                <td>{{ color.hexCode }}</td>
                <td>edit</td>
                <td>delete</td>
            </tr>
        </ng-template>
    </p-table>
    
</div>