<app-loader></app-loader>
<app-header></app-header>
<p-toast position="top-center" />
<p-confirmdialog />
<section id="cart" class="section-p1">
    <form *ngIf="cartForm" [formGroup]="cartForm">
        <table width="100%">
            <thead>
                <tr>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Sub Total</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart">
                    <td><img [src]="getProductImageUrl(item.productId)"  alt=""></td>
                    <td>{{ getProductName(item.productId) }}</td>
                    <td>{{ getProductPrice(item.productId) }}</td>
                    <td>
                        <input type="number" [formControlName]="item.productId.toString()"
                            (input)="onQuantityChange(item.productId, $event)" />
                    </td>
                    <td>{{ getSubTotal(item.productId, cartForm.get(item.productId.toString())?.value || 1) }}</td>
                    <td (click)="removeItem($event,item)"><i class="pi pi-times"></i></td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

<section id="cart-add" class="section-p1">

    <div id="coupon">
        <form [formGroup]="couponForm">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter your coupon" formControlName="code">
                <button class="normal" (click)="applyCoupon()">Apply</button>
            </div>
            <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
        </form>
        <div class="appliedCart mt-4" *ngIf="appliedCoupons.length > 0">
            <h4>Applied Coupons:</h4>
            <ul >
              <li *ngFor="let coupon of appliedCoupons">{{ coupon }}</li>
            </ul>
        </div>
        
    </div>
    <div id="sub-total">
        <h3>Cart Total</h3>
        <table>
            <tr>
                <td>Cart SubTotal</td>
                <td>Rs: {{ totalAmount }}</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>Free</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>Rs: {{ totalAmountWithDiscount }}</strong></td>
            </tr>
        </table>
        <button class="normal" (click)="proceedToCheckOut()">Proceed to checkout</button>
    </div>
</section>