<app-my-account-header></app-my-account-header>    
<div class="tab-pane  px-4" >
     <div class="row">
         <div class="info-pages mb-3">
             <h3 class="text-capitalize">MyAccount</h3>
         </div>
     </div>
     <div class="row my-3">
       <div class="box d-flex align-items-center justify-content-between my-2 w-100">
           <div class="cards">
               <div class="icon stud">
                   <i class='bx bxs-bell'></i>
               </div>
               <div class="desc">
                   <h6 class="text-muted text-capitalize">Orders</h6>
                   <h5 class="text-capitalize">12</h5>
               </div>
           </div>
           <div class="cards">
               <div class="icon teach">
                   <i class="bx bx-money"></i>
               </div>
               <div class="desc">
                   <h6 class="text-muted text-capitalize">Wishlist</h6>
                   <h5 class="text-capitalize">4,503</h5>
               </div>
           </div>
           <div class="cards">
               <div class="icon pare">
                   <i class="bx bxs-graduation"></i>
               </div>
               <div class="desc">
                   <h6 class="text-muted text-capitalize">result</h6>
                   <h5 class="text-capitalize">16</h5>
               </div>
           </div>
           <div class="cards">
               <div class="icon earn">
                   <i class="bx bx-money"></i>
               </div>
               <div class="desc">
                   <h6 class="text-muted text-capitalize">Notification</h6>
                   <h5 class="text-capitalize">20</h5>
               </div>
           </div>
       </div> 
     </div>
     <div class="row my-3">
         <div class="col shadow bg-white p-4 rounded student-info">
         <h4 class="text-capitalize mb-3">my Account</h4>
           <div >
             <div class="studen d-flex bg-light p-4 rounded">
                 <div class="mr-3">
                         <span><i class='bx bxs-user-circle text-primary display-2'></i></span>
                 </div>
                 <div class="table-responsive-xl">
                     <table class="table table-borderless">
                         <tr>
                             <td class="text-muted text-capitalize">User Name:</td>
                             <td class="text-capitalize">{{user.userName}}</td>
                         </tr>
                         <tr>
                             <td class="text-muted text-capitalize">First name:</td>
                             <td class="text-capitalize">{{user.firstName}}</td>
                         </tr>
                         <tr>
                             <td class="text-muted text-capitalize">Last Name</td>
                             <td class="text-capitalize">{{user.lastName}}</td>
                         </tr>
                         <tr>
                             <td class="text-muted text-capitalize">Address</td>
                             <td class="text-capitalize">{{user.address}}</td>
                         </tr>
                         <tr>
                             <td class="text-muted text-capitalize">Email:</td>
                             <td class="">{{user.emailAddress}}</td>
                         </tr>
                         <tr>
                          <td class="text-muted text-capitalize">Phone:</td>
                          <td class="">{{user.phoneNumber}}</td>
                      </tr>
                     </table>
                     
                 </div>
                 
               </div>
               
           </div>
           <button class="normal">Edit</button>
         </div>
     </div>
    </div>
    <div class="container-fluid">
    
     <div class="row mt-5 mb-3">
         <div class="col">
             <p class="lead">© Copyrights SomEduc 2021. All rights reserved. Designed by yaxya</p>
         </div>
     </div>
    </div>

  