<section id="product-details" class="section-p1">
    <div class="single-product-image">
        <img src="assets/products/f1.jpg" width="100%" id="mainImage" alt="Main Image">
        <div class="small-image-group">
            <div class="small-image-col">
                <img src="assets/products/f1.jpg" width="100%" class="small-image" alt="">
            </div>
            <div class="small-image-col">
                <img src="assets/products/f2.jpg" width="100%" class="small-image" alt="">
            </div>
            <div class="small-image-col">
                <img src="assets/products/f3.jpg" width="100%" class="small-image" alt="">
            </div>
            <div class="small-image-col">
                <img src="assets/products/f4.jpg" width="100%" class="small-image" alt="">
            </div>
        </div>
    </div>
    <div class="single-product-details">
        <h6>Anime T-shirt</h6>
        <h4>Men's over sized Tshirt</h4>
        <h2>Rs 499</h2>
        <select name="" id="">
            <option value="">Select Size</option>
            <option value="">S</option>
            <option value="">M</option>
            <option value="">L</option>
            <option value="">XL</option>
        </select>
        <input type="number" value="1">
        <button class="normal">Add to cart</button>
        <h4>Product Description</h4>
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, voluptas itaque. Soluta nam obcaecati
            reprehenderit similique, cumque odio fugiat ut saepe voluptas excepturi iure ex, amet doloremque, nostrum
            doloribus? Nam?
        </span>
    </div>

</section>

<!-- New Arrivals section start -->
<section id="product" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Get Our new Collection Designs</p>
    <div class="pro-container">
        <div class="pro">
            <img src="assets/products/f1.jpg" alt="">
            <div class="desc">
                <span>Anime Tshhirt</span>
                <h5>Zenitsu T-Shirt | Demon Slayer</h5>
                <div class="star">
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-half-fill"></i>
                </div>
                <h4>Rs: 499</h4>
            </div>
            <i class="pi pi-cart-plus cart"></i>
        </div>
        <div class="pro">
            <img src="assets/products/f2.jpg" alt="">
            <div class="desc">
                <span>Anime Tshhirt</span>
                <h5>Zenitsu T-Shirt | Demon Slayer</h5>
                <div class="star">
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-half-fill"></i>
                </div>
                <h4>Rs: 499</h4>
            </div>
            <i class="pi pi-cart-plus cart"></i>
        </div>
        <div class="pro">
            <img src="assets/products/f3.jpg" alt="">
            <div class="desc">
                <span>Anime Tshhirt</span>
                <h5>Zenitsu T-Shirt | Demon Slayer</h5>
                <div class="star">
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-half-fill"></i>
                </div>
                <h4>Rs: 499</h4>
            </div>
            <i class="pi pi-cart-plus cart"></i>
        </div>
        <div class="pro">
            <img src="assets/products/f4.jpg" alt="">
            <div class="desc">
                <span>Anime Tshhirt</span>
                <h5>Zenitsu T-Shirt | Demon Slayer</h5>
                <div class="star">
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-fill"></i>
                    <i class="pi pi-star-half-fill"></i>
                </div>
                <h4>Rs: 499</h4>
            </div>
            <i class="pi pi-cart-plus cart"></i>
        </div>
    </div>

</section>
<!-- New Arrivals section end -->

<!-- Footer Section start -->
 <app-footer></app-footer>
<!-- Footer Section end -->
