<app-loader></app-loader>
<app-header></app-header>
<p-toast position="top-center" />
<section id="product-details" class="section-p1">
    <div class="single-product-image">
        <img [src]="product.imageUrl || 'assets/products/f1.jpg'" width="100%" id="mainImage" alt="Main Image">
        <div class="small-image-group">
            <div class="small-image-col">
                <img [src]="product.imageUrl || 'assets/products/f1.jpg'" width="100%" class="small-image" alt="">
            </div>
            <div class="small-image-col">
                <img [src]="product.imageUrl || 'assets/products/f1.jpg'" width="100%" class="small-image" alt="">
            </div>
            <div class="small-image-col">
                <img [src]="product.imageUrl || 'assets/products/f1.jpg'" width="100%" class="small-image" alt="">
            </div>
            <div class="small-image-col">
                <img [src]="product.imageUrl || 'assets/products/f1.jpg'" width="100%" class="small-image" alt="">
            </div>
        </div>
    </div>
    <div class="single-product-details">
        <h6>Anime T-shirt</h6>
        <h4><i class="pi pi-heart cart1" style="font-size: 1.3rem; color: #000000" (click)="addToWishlist(product)"></i>
            {{product?.productName}} </h4>
        <h2>Rs: {{product?.price}}</h2>
        <select name="" id="">
            <option value="">Select Size</option>
            <option value="">S</option>
            <option value="">M</option>
            <option value="">L</option>
            <option value="">XL</option>
        </select>
        <select name="" id="">
            <option value="">Select Color</option>
            <option value="">Red</option>
            <option value="">Blue</option>
            <option value="">Green</option>
            <option value="">Yellow</option>
        </select>
        <input type="number" value="1">
        <button class="normal" (click)="addToCart(product)">Add to cart</button>
        <button class="normal ml-2" (click)="buyNow(product)">Buy Now</button>
        <h4>Product Description</h4>
        <span>
            {{product?.productDescription}}
        </span>
    </div>

</section>

<!-- New Arrivals section start -->
<section id="product" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Get Our new Collection Designs</p>
    <div class="pro-container">
        <div *ngFor="let product of productList" class="pro">
            <img [src]="product.imageUrl || 'assets/products/f1.jpg'" alt="" >
            <div class="desc">
                <span>{{ getCategoryName(product.categoryId) }}</span>
                <h5>{{ product.productName }}</h5>
                <div class="star">
                    <i class="pi pi-star-fill" *ngFor="let star of getStars(4)"></i>
                </div>
                <h4>Rs: {{ product.price }}</h4>
            </div>
            <i 
          class="pi pi-heart-fill cart2 " 
          [ngClass]="{ 'wishlist-added': isProductInWishlist(product) }" 
          style="font-size: 1.3rem;" 
          (click)="addToWishlist(product)">
        </i>
            <i class="pi pi-cart-plus cart" (click)="addToCart(product)"></i>
        </div>
    </div>
</section>
<!-- New Arrivals section end -->

<!-- Footer Section start -->
<app-footer></app-footer>
<!-- Footer Section end -->