<p-toast />
<app-admin-headers></app-admin-headers>

<div class="card m-5">
    <div class="container">
        <h3>Add Product</h3>
    </div>

<!-- Product form -->
<form [formGroup]="addProductForm">
    <div class="header">
      <div class="inputDetail">
        <p-floatlabel variant="on">
          <input pInputText formControlName="productName" autocomplete="off" />
          <label for="on_label">Product Name</label>
        </p-floatlabel>
      </div>
  
      <div class="inputDetail">
        <p-floatlabel variant="on">
          <textarea rows="5" cols="30" formControlName="productDescription" pTextarea [autoResize]="true"></textarea>
          <label for="on_label">Product Description</label>
        </p-floatlabel>
      </div>
    </div>
    <div formArrayName="productVariantDtos">
      <div *ngFor="let variant of productVariantDtos.controls; let i = index" [formGroupName]="i" >
        <div class="variant-fields">
          <div class="inputDetail">
            <p-select formControlName="category" [options]="categories" optionLabel="categoryName" optionValue="categoryId" placeholder="Category" class="w-full"></p-select>
          </div>
          <div class="inputDetail">
            <p-select formControlName="colorId" [options]="productColors" optionLabel="colorName" optionValue="colorId" placeholder="Color" class="w-full"></p-select>
          </div>
          <div class="inputDetail">
            <p-select formControlName="sizeId" [options]="productSize" optionLabel="sizeName" optionValue="sizeId" placeholder="Size" class="w-full"></p-select>
          </div>
          <div class="inputDetail">
            <p-fileupload (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize="1000000" mode="advanced"></p-fileupload>
          </div>
          <div class="inputDetail">
            <input pInputText formControlName="stockQuantity" type="number" placeholder="Stock" />
          </div>
          <div class="inputDetail">
            <input pInputText formControlName="price" type="number" placeholder="Price" />
          </div>
          <div class="btn">
            <p-button label="Remove Variant" icon="pi pi-minus" iconPos="left" (click)="removeVariant(i)" severity="danger"></p-button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="btn">
      <p-button label="Add Variant" icon="pi pi-plus" iconPos="right" (click)="addVariant()"></p-button>
    </div>
  
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Cancel" severity="secondary" (click)="visible = false"></p-button>
      <p-button label="Save" (click)="onSubmit()"></p-button>
    </div>
  </form>
</div>