
<app-header></app-header>
<div class="sidebar">
    <ul class="unstayled menu nav nav-pills flex-column">
        <li class="rounded active mb-1 list nav-item">
            <a href="/admin" class="text-decoration-none sub-menu">
                <div class="text d-flex">
                    <span>
                        <i class='bx bxs-dashboard'></i>
                    </span>
                    <div class="ml-4">
                        <span class="text-capitalize">Dashboard</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="rounded mb-1 list nav-item">
            <a class="text-decoration-none sub-menu" href="/admin-add-category" role="button" aria-expanded="false"
                aria-controls="categoryDropdown">
                <div class="text d-flex">
                    <span>
                        <i class="fa-solid fa-shop mr-1"></i>
                    </span>
                    <div class="ml-3">
                        <span class="text-capitalize">Category</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="rounded mb-1 list nav-item">
            <a class="text-decoration-none sub-menu" href="/admin-add-product" role="button" aria-expanded="false"
                aria-controls="productDropdown">
                <div class="text d-flex">
                    <span>
                        <i class="fa-solid fa-users mr-1"></i>
                    </span>
                    <div class="ml-3">
                        <span class="text-capitalize">Product</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>