@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900');
@import "primeicons/primeicons.css";

.sidebar {
    width: 20%;
    padding: 10px 0px;
    background-color: #fff;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 99;
    transition: all 0.4s ease;
}

.sidebar::-webkit-scrollbar {
    width: 7px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #ddd;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 6px;
    border-right: 2px solid #fff;
}

.sidebar .menu .list {
    font-size: 15px;
    list-style: none;
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.sidebar .menu .list.active {
    background-color: #f2f6f7;
    color: #007bff;
}

.sidebar .menu .list:hover {
    background-color: #f2f6f7;
}

.sidebar .menu .list a {
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--color);
    text-decoration: none;
}

.sidebar .menu .list .sub-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .list i {
    font-size: 20px;
}

.sidebar .menu .list.active a {
    color: #007bff;
}

.sidebar .menu .list:hover a {
    color: #007bff;
}

.bx-chevron-down {
    font-weight: 400 !important;
    font-size: 20px;
}

.list .bx-chevron-down.show {
    transform: rotate(-180deg);
}

.collapse ul li {
    list-style: circle;
    cursor: pointer;
}

.submenu li a {
    color: var(--color);
    transition: all 0.4s ease;
    text-decoration: none;
}

.submenu li:hover a {
    color: #007bff;
}

@media (max-width: 1260px) {
    .sidebar {
        width: 0%;
        position: absolute;
    }

    .sidebar.active {
        width: 25%;
    }
}

@media (max-width: 900px) {
    .sidebar.active {
        width: 38%;
    }
}

@media (max-width: 590px) {
    .sidebar.active {
        width: 60%;
    }
}