<!-- hero section start -->
<section id="page-header">
    <h2>Super value Deals</h2>
    <p>Save more with coupons & up to 50% off!</p>
</section>
<!-- hero section end -->

<!-- product section start -->
<section id="product" class="section-p1">
    <div class="pro-container">
        <div *ngFor="let product of product" class="pro">
            <img [src]="'assets/products/f1.jpg'" alt="" (click)="navigateToShop(product)">
            <div class="desc">
                <span>{{ product.categoryId }}</span>
                <h5>{{ product.productName }}</h5>
                <div class="star">
                    <i class="pi pi-star-fill" *ngFor="let star of getStars(4)"></i>
                </div>
                <h4>Rs: {{ product.price }}</h4>
            </div>
            <i class="pi pi-cart-plus cart" (click)="addToCart(product)"></i>
        </div>
    </div>

</section>
<!-- product section end -->

<!-- footer section start -->
 <app-footer></app-footer>
<!-- footer section end -->