<app-header></app-header>
<div class="account-container">

  
    <!-- Bottom Navigation Bar (For Mobile) -->
    <div class="bottom-nav">
      <button class="nav-button" (click)="navigateToUrl('/profile')">
        <i name="" class="nav-icon pi pi-home"></i>
        <span class="nav-text">Dashboard</span>
      </button>
      <button class="nav-button" (click)="navigateToUrl('/order-history')">
        <i name="" class="nav-icon pi pi-shopping-cart"></i>
        <span class="nav-text">History</span>
      </button>
      <button class="nav-button">
        <i name="" class="nav-icon pi pi-heart"></i>
        <span class="nav-text">Wishlist</span>
      </button>
      <button class="nav-button">
        <i name="" class="nav-icon pi pi-map"></i>
        <span class="nav-text">Addresses</span>
      </button>
      <button class="nav-button">
        <i  class="nav-icon pi pi-credit-card"></i>
        <span class="nav-text">Payment</span>
      </button>
      <button class="nav-button" (click)="navigateToUrl('/account')">
        <i  class="nav-icon pi pi-user"></i>
        <span class="nav-text">Account</span>
      </button>
    </div>
  </div>
  