<app-header></app-header>
<app-loader></app-loader>
<p-toast position="top-center" />
<!-- hero section start -->
<section id="hero">
    <h4>Trade In Offer</h4>
    <h2>Super value Deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 50% off!</p>
    <button (click)="toShop()">Shop Now</button>
</section>
<!-- hero section end -->

<!-- feaure section start -->
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="assets/features/f1.png" alt="Feature Image">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f2.png" alt="Feature Image">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f3.png" alt="Feature Image">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f4.png" alt="Feature Image">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="assets/features/f5.png" alt="Feature Image">
        <h6>Happy Sale</h6>
    </div>

</section>
<!-- feaure section end -->

<!-- product section start -->
<section id="product" class="section-p1">
    <h2>Featured Products</h2>
    <p>Get Our new Collection Designs</p>
    <div class="pro-container">
        <div *ngFor="let product of product" class="pro">
            <img [src]="product.imageUrl || 'assets/products/f1.jpg'" alt="" (click)="navigateToShop(product)">
            <div class="desc">
                <span>{{ getCategoryName(product.categoryId) }}</span>
                <h5>{{ product.productName }}</h5>
                <div class="star">
                    <i class="pi pi-star-fill" *ngFor="let star of getStars(4)"></i>
                </div>
                <h4>Rs: {{ product.price }}</h4>
            </div>
            <i class="pi pi-heart cart1" style="font-size: 1.3rem; color: #000000" (click)="addToWishlist(product)"></i>
            <i class="pi pi-cart-plus cart" (click)="addToCart(product)"></i>
        </div>
    </div>
</section>
<!-- product section end -->

<!-- Banner section start -->
<section id="banner" class="section-m1">
    <h4>Get your Anime T-Shirt</h4>
    <h2>Up to <span>50%</span> off on all our T-Shirt | Limited Offer</h2>
    <button class="normal" (click)="toShop()">Explore More</button>
</section>
<!-- Banner section end -->

<!-- New Arrivals section start -->
<section id="product" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Get Our new Collection Designs</p>
    <div class="pro-container">
        <div *ngFor="let product of featuredProduct" class="pro">
            <img [src]="'assets/products/f1.jpg'" alt="" (click)="navigateToShop(product)">
            <div class="desc">
                <span>{{ getCategoryName(product.categoryId) }}</span>
                <h5>{{ product.productName }}</h5>
                <div class="star">
                    <i class="pi pi-star-fill" *ngFor="let star of getStars(4)"></i>
                </div>
                <h4>Rs: {{ product.price }}</h4>
            </div>
            <i class="pi pi-heart cart1" style="font-size: 1.3rem; color: #000000" (click)="addToWishlist(product)"></i>
            <i class="pi pi-cart-plus cart" (click)="addToCart(product)"></i>
        </div>
    </div>
</section>
<!-- New Arrivals section end -->

<!-- Small Banner section start -->
<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>Combo Deals</h4>
        <h2>Get 5 T-Shirt in combo</h2>
        <span>The best anime Tshirt is on unfold</span>
        <button class="white" (click)="toShop()">Learn More</button>
    </div>
    <div class="banner-box banner-box-2">
        <h4>Combo Deals</h4>
        <h2>Get 5 T-Shirt in combo</h2>
        <span>The best anime Tshirt is on unfold</span>
        <button class="white" (click)="toShop()">Learn More</button>
    </div>
</section>
<!-- Small Banner section end -->

<!-- Small Banner 3 section start -->
<section id="banner3" class="section-p1">
    <div class="banner-box">
        <h2>NEW YEAR SALES !</h2>
        <h3>New year collection is here</h3>
    </div>

    <div class="banner-box banner-box-2">
        <h2>NEW YEAR SALES !</h2>
        <h3>New year collection is here</h3>
    </div>

    <div class="banner-box banner-box-3">
        <h2>NEW YEAR SALES !</h2>
        <h3>New year collection is here</h3>
    </div>
</section>
<!-- Small Banner 3 section end -->

<!-- News Letter section start -->
<section id="news-letter" class="section-p1 section-m1">
    <div class="newsText">
        <h4>Subscribe for News Letter</h4>
        <p>Get E-mail updates about our latest arrivals and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email address">
        <button class="normal">Subscribe</button>
    </div>
</section>
<!-- News Letter section end -->

<!-- footer component start -->
<app-footer></app-footer>
<!-- footer component end -->